<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevor="{{devour}}">
		{{#if devor}}DEVOUR IT{{else}}DEVOURED!{{/if}}
	</button>

	<button class="delete-devour" id="righthead" data-id="{{this.id}}">DELETE!</button>
</li>
